<!DOCTYPE html>
<html>
  <head>
    <title>Redirecting...</title>
  </head>
  <body>
    <p>Redirecting...</p>
    <script>
      const code = location.search.replace('?code=', '')
      fetch('https://www.bungie.net/Platform/App/OAuth/Token/', {
        method: 'POST',
        headers: {
          'content-type': 'application/x-www-form-urlencoded'
        },
        body: `client_id=<%= VUE_APP_BUNGIE_CLIENT_ID %>&grant_type=authorization_code&code=${code}`
      }).then(res => {
        res.json().then(json => {
          localStorage.setItem('auth', JSON.stringify(json))
          location.href = `<%= VUE_APP_REDIRECT %>${localStorage.getItem('s18p')}`
        })
      })
    </script>
  </body>
</html>